<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Word Generator</h1>
    <form action="/formsubmission" method="POST">
        {% csrf_token %}
        <button name="word_gen" type="submit"> Generate Random Word</button>
    </form>

    <a href="/reset"><button>Reset Attempt</button></a>

    <div>
        <h1> random word is {{ word }}</h1>
        <h1>Attempt Number {{ counter }}</h1>
    </div>
</body>
</html>